<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdb3a.AdminMapper">
	<!-- <select id="listAll" resultType="orderList">
		select 
			orderCode, id, dietCode, orderDate, price, orderItem, transportNum
		from orderList 
	</select> -->
	<select id="listAll" resultType="orderList">
		select b.dietCode, b.orderCode, b.id, a.dietName, b.orderDate, b.price, b.orderItem, b.transportNum
		from diet a join orderlist b
		on (a.dietCode=b.dietCode);
	</select>
	
	<select id="read" resultType="orderList"  parameterType="string" >
	select b.dietCode, b.orderCode, b.id, a.dietName, b.orderDate, b.price, b.orderItem, b.transportNum, c.id, c.name, c.address, c.tel
	from diet a join orderlist b join member c
	where a.dietCode=b.dietCode 
	and c.id=b.id
	and orderCode=#{orderCode};
	</select>
	
</mapper>