<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdb3a.CookerMapper">
	<select id = "foodStockAll" resultType = "FoodMInven">
		select foodMName,sum(inAmount) inAmount,sum(outAmount) outAmount,unit
		from foodminven group by foodMName
		limit #{startRecord} , #{recordsPerPage}
	</select>
	<select id = "foodStockAllCount" resultType = "Integer">
		select count(c.foodMName)
		from (select foodMName,sum(inAmount) inAmount,sum(outAmount) outAmount,unit
		from foodminven group by foodMName) c     
		
	</select>
	<select id="foodStock" resultType="FoodMInven">
		select foodMName,sum(inAmount) inAmount,sum(outAmount) outAmount,unit
		from foodminven group by foodMName
		having foodMName like CONCAT('%',#{keyword},'%')
	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				
			</if>
			<if test="searchType == 'c'.toString()">
				where foodMAmount like CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</sql>
	<select id="cookList" resultType="Cook">
		select b.sideDName,
		sum(a.dietAmount) as dietAmount, a.orderItemCode,
		d.orderItemName
		from
		orderlist a join sidedish b join dietinfo c join orderitem d
		where
		a.dietCode = c.dietCode
		and c.sideDCode = b.sideDCode
		and
		a.orderItemCode = d.orderItemCode
		and a.orderItemCode = 3
		group by
		b.sideDName
	</select>

	<select id="finishcook" resultType="Cook">
		select b.sideDName,
		sum(a.dietAmount) as dietAmount, a.orderItemCode,
		d.orderItemName
		from
		orderlist a join sidedish b join dietinfo c join orderitem d
		where
		a.dietCode = c.dietCode
		and c.sideDCode = b.sideDCode
		and
		a.orderItemCode = d.orderItemCode
		and a.orderItemCode = 5
		group by
		b.sideDName
	</select>

	<select id="readycook" resultType="Cook">
		select a.orderCode,
		b.sideDName,b.sideDImg, sum(a.dietAmount) as dietAmount,
		a.orderItemCode, d.orderItemName
		from orderlist a join sidedish b join dietinfo c join orderitem d
		where
		a.dietCode = c.dietCode
		and c.sideDCode = b.sideDCode
		and a.orderItemCode = d.orderItemCode
		and
		a.orderItemCode = 3
		group by b.sideDName
	</select>
	<select id="readyScreen" resultType="Cook">
select oo.sideDCode, sum(oc.dietAmount) cookingAmount,oc.orderItemName,sd.sideDName,sd.sideDImg
from orderoptions oo, 
(select a.orderCode, a.dietAmount,b.orderItemName
from orderList a,(select DISTINCT o.orderCode,oi.orderItemName from orderoptions o, orderitem oi where o.orderItemCode = 3 and o.orderItemCode=oi.orderItemCode) b
where a.orderCode=b.orderCode) oc, sidedish sd
where orderItemCode = 3 and oo.orderCode = oc.orderCode and oo.sideDCode=sd.sideDCode
and sd.sideDCode=oo.sideDCode
group by oo.sideDCode
	</select>
	<update id="transportNum2">
		update orderlist set orderItemCode = 5
		where orderCode
		= #{orderCode}
	</update>
	<select id="cookScreen" resultType="Cook">
		select a.orderCode,
		b.dietName, b.dietImg,a.orderItemCode, a.orderDate,
		c.orderItemName
		from orderlist a join diet b join orderitem c
		where a.dietCode =
		b.dietCode
		and a.orderItemCode = c.orderItemCode
		and a.orderItemCode = 4
		group by b.dietName
		order by a.orderDate
		limit 0,3
	</select>
	<select id="endScreen" resultType="Cook">
		select a.orderCode,
		b.dietName, b.dietImg,a.orderItemCode, a.orderDate,
		c.orderItemName
		from orderlist a join diet b join orderitem c
		where a.dietCode =
		b.dietCode
		and a.orderItemCode = c.orderItemCode
		and a.orderItemCode = 5
		group by b.dietName
		order by a.orderDate
		limit 0,3
	</select>

	<!-- 조리 해야할(orderItemCode=3) sideDcode와 조리량을 select -->
	<select id="selectCookingItem" resultType="CookingItem">
select a.orderCode,a.sideDCode,a.orderItemName,a.orderItemCode optionsOrderItemCode,sum(b.dietAmount) cookingAmount,c.sideDName,c.sideDImg
from
(select  o.orderCode,o.sideDCode,oi.orderItemName,oi.orderItemCode from orderoptions o, orderitem oi where  o.orderItemCode=oi.orderItemCode and (oi.orderItemCode=3 or oi.orderItemCode=4)) a, orderlist b, sidedish c
where a.orderCode=b.orderCode and c.sideDCode=a.sideDCode
group by sideDCode
		
	</select>
	<select id="anotherSelectCookingItem3" resultType="CookingItem">
select a.orderCode,a.sideDCode,a.orderItemName,a.orderItemCode optionsOrderItemCode,sum(b.dietAmount) cookingAmount,c.sideDName,c.sideDImg
from
(select  o.orderCode,o.sideDCode,oi.orderItemName,oi.orderItemCode from orderoptions o, orderitem oi where  o.orderItemCode=oi.orderItemCode and (oi.orderItemCode=3)) a, orderlist b, sidedish c
where a.orderCode=b.orderCode and c.sideDCode=a.sideDCode
group by sideDCode
		
	</select>
	<select id = "anotherSelectCookingItemCount" resultType = "Integer">
		select count(c.orderCode)
		from (select a.orderCode as
		orderCode,
		a.sideDCode as sideDCode,
		c.sideDImg as sideDImg,
		c.sideDName
		as sideDName,
		b.orderItemCode as orderOrderItemCode,
		a.orderItemCode as
		optionsOrderItemCode,
		sum(b.dietAmount) as cookingAmount
		from
		orderoptions a, orderlist b, sidedish c
		where a.orderCode = b.orderCode
		and
		a.sideDCode = c.sideDCode
		group by sideDcode
		having optionsOrderItemCode = 3) c
	</select>
	<select id="anotherSelectCookingItem5" resultType="CookingItem">
		select a.orderCode as
		orderCode,
		a.sideDCode as sideDCode,
		c.sideDImg as sideDImg,
		c.sideDName
		as sideDName,
		b.orderItemCode as orderOrderItemCode,
		a.orderItemCode as
		optionsOrderItemCode,
		sum(b.dietAmount) as cookingAmount, d.orderItemName  
		from
		orderoptions a, orderlist b, sidedish c, orderitem d
		where a.orderCode = b.orderCode
		and a.orderItemCode = d.orderItemCode
		and
		a.sideDCode = c.sideDCode
		group by sideDcode
		having optionsOrderItemCode = 5
		limit #{startRecord},#{recordsPerPage};
	</select>
	<select id = "anotherSelectCookingItemCount2" resultType = "Integer">
		select count(c.orderCode)	
		from (select a.orderCode as
		orderCode,
		a.sideDCode as sideDCode,
		c.sideDImg as sideDImg,
		c.sideDName
		as sideDName,
		b.orderItemCode as orderOrderItemCode,
		a.orderItemCode as
		optionsOrderItemCode,
		sum(b.dietAmount) as cookingAmount
		from
		orderoptions a, orderlist b, sidedish c
		where a.orderCode = b.orderCode
		and
		a.sideDCode = c.sideDCode
		group by sideDcode
		having optionsOrderItemCode = 5) c
	</select>
	<update id="updateOptionsItemCode" parameterType="HashMap">
		update orderoptions set orderItemCode= #{orderItemCode} 
		where sideDCode = #{sideDCode};
	</update>
		<update id="updateOrderItemCode">
update orderlist set orderItemCode = 5
where orderCode=
(select a.orderCode
from
(select oo.orderCode, count(oo.orderItemCode) countCode
from orderoptions oo,orderList ol where oo.orderCode = ol.orderCode and ol.orderItemCode=3 and oo.orderItemCode=5
group by oo.orderCode) a
where a.countCode = 6)
	</update>


</mapper>