<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdb3a.CookerMapper">
	<select id="foodStock" resultType="FoodMInven">
		select b.foodMName, c.foodMAmount, a.inAmount, a.unit
		from foodMInven a
		join sideDInfo c join foodMaterial b
		where b.foodMCode = c.foodMCode
		<include refid="search"></include>
	</select>
	<sql id="search">
		<if test="searchType != null">
			<if test="searchType == 't'.toString()">
				and b.foodMName like CONCAT('%',#{keyword},'%')
			</if>
			<if test="searchType == 'c'.toString()">
				and c.foodMAmount like CONCAT('%',#{keyword},'%')
			</if>
		</if>
	</sql>
	<select id="cookList" resultType="Cook">
		select b.sideDName,
		sum(a.dietAmount) as dietAmount, a.orderItemCode,
		d.orderItemName
		from
		orderlist a join sidedish b join dietinfo c join orderitem d
		where
		a.dietCode = c.dietCode
		and c.sideDCode = b.sideDCode
		and
		a.orderItemCode = d.orderItemCode
		and a.orderItemCode = 3
		group by
		b.sideDName
	</select>

	<select id="finishcook" resultType="Cook">
		select b.sideDName,
		sum(a.dietAmount) as dietAmount, a.orderItemCode,
		d.orderItemName
		from
		orderlist a join sidedish b join dietinfo c join orderitem d
		where
		a.dietCode = c.dietCode
		and c.sideDCode = b.sideDCode
		and
		a.orderItemCode = d.orderItemCode
		and a.orderItemCode = 5
		group by
		b.sideDName
	</select>

	<select id="readycook" resultType="Cook">
		select a.orderCode,
		b.sideDName,b.sideDImg, sum(a.dietAmount) as dietAmount,
		a.orderItemCode
		from orderlist a join sidedish b join dietinfo c
		where
		a.dietCode = c.dietCode
		and c.sideDCode = b.sideDCode
		and
		a.orderItemCode = 3
		group by b.sideDName
	</select>
	<select id="readyScreen" resultType="Cook">
		select a.orderCode,
		b.dietName, b.dietImg,a.orderItemCode, a.orderDate,
		c.orderItemName
		from orderlist a join diet b join orderitem c
		where a.dietCode =
		b.dietCode
		and a.orderItemCode = c.orderItemCode
		and a.orderItemCode = 3
		group by b.dietName
		order by a.orderDate
		limit 0,3
	</select>
	<update id="transportNum2">
		update orderlist set orderItemCode = 5
		where orderCode
		= #{orderCode}
	</update>
	<select id="cookScreen" resultType="Cook">
		select a.orderCode,
		b.dietName, b.dietImg,a.orderItemCode, a.orderDate,
		c.orderItemName
		from orderlist a join diet b join orderitem c
		where a.dietCode =
		b.dietCode
		and a.orderItemCode = c.orderItemCode
		and a.orderItemCode = 4
		group by b.dietName
		order by a.orderDate
		limit 0,3
	</select>
	<select id="endScreen" resultType="Cook">
		select a.orderCode,
		b.dietName, b.dietImg,a.orderItemCode, a.orderDate,
		c.orderItemName
		from orderlist a join diet b join orderitem c
		where a.dietCode =
		b.dietCode
		and a.orderItemCode = c.orderItemCode
		and a.orderItemCode = 5
		group by b.dietName
		order by a.orderDate
		limit 0,3
	</select>

	<!-- 조리 해야할(orderItemCode=3) sideDcode와 조리량을 select -->
	<select id="selectCookingItem" resultType="CookingItem">
		select a.orderCode as
		orderCode,
		a.sideDCode as sideDCode,
		c.sideDImg as sideDImg,
		c.sideDName
		as sideDName,
		b.orderItemCode as orderOrderItemCode,
		a.orderItemCode as
		optionsOrderItemCode,
		sum(b.dietAmount) as cookingAmount
		from
		orderoptions a, orderlist b, sidedish c
		where a.orderCode = b.orderCode
		and
		a.sideDCode = c.sideDCode
		group by sideDcode;
	</select>


	<update id="updateOptionsItemCode" parameterType="HashMap">
		update
		orderoptions set orderItemCode= #{orderItemCode}
		where sideDCode =
		#{sideDCode};
	</update>


</mapper>