<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdb3a.CounselorMapper">
<select id = "counselorListAll"  resultType="Counselor">
	select  a.id , a.name , a.address, a.tel, a.email, a.deptCode, a.gradeCode, a.joinDate, b.counselTitle, b.counselDate, b.counselContent
	from member a join counsel b
	where a.id = b.customer
</select>
<select id = "counselorseList2All" resultType="Counselor">
	select  b.counselCode,b.counselTitle ,a.name, a.id, b.counselDate, b.counselContent
	from member a join counsel b
	where a.id =b.customer
</select>
<select id="counselorList" resultType="Counselor">
		select  a.id , a.name , a.address, a.tel, a.email, a.deptCode, a.gradeCode, a.joinDate, b.counselTitle, b.counselDate, b.counselContent
		from member a join counsel b
		where a.id = b.customer
		<include refid="search"></include>
	</select>
	<sql id = "search">
	  	<if test = "searchType != null">
	  		<if test="searchType == 't'.toString()">
	  			and a.id like CONCAT('%',#{keyword},'%')
	  		</if>
	  		<if test="searchType == 'c'.toString()">
	  			and a.name like CONCAT('%',#{keyword},'%')
	  		</if>
	  	</if>
  	</sql>
<select id="counselorseList2" resultType="Counselor">
	select  b.counselCode,b.counselTitle ,a.name, a.id, b.counselDate, b.counselContent
	from member a join counsel b
	where a.id =b.customer
	<include refid="Search"></include>
</select>
<sql id = "Search">
	  	<if test = "searchType2 != null">
	  		<if test="searchType2 == 'y'.toString()">
	  			and a.name like CONCAT('%',#{keyword2},'%')
	  		</if>
	  		<if test="searchType2 == 'u'.toString()">
	  			and a.id like CONCAT('%',#{keyword2},'%')
	  		</if>
	  	</if>
  	</sql>


<select id = "viewCounsel" resultType = "Counselor">
	select counselTitle, counselContent
	from counsel
	where counselCode = #{counselCode} 
</select>
<select id = "linkCounsel" resultType = "Counselor">
	select * from counsel a join counselitem b
	where a.counselItemCode = b.counselItemCode
	and a.customer = #{customer}	
</select>
<select id = "selectCounsel" resultType = "Counselor">
	select * from counsel a join counselitem b
	where a.counselItemCode = b.counselItemCode
	and  a.counselCode = #{couselCode}
</select>
<select id = "counselMember" resultType = "Counselor">
	select * from member a join counsel b
	where a.id = b.customer
	and b.counselCode = #{couselCode}
</select>
<select id = "orderList" resultType = "Counselor">
	select * from orderlist a join diet b join paymentitem c join orderitem d join counsel e
	where a.dietCode = b.dietCode
	and a.paymentItemCode = c.paymentItemCode
	and a.orderItemCode = d.orderItemCode
	and a.id = e.customer
	and e.counselCode = #{couselCode}
	limit #{criteria.startRecord},#{criteria.recordsPerPage}
</select>
<select id = "orderListCount" resultType = "Integer">
	select count(*) from orderlist a join diet b join paymentitem c join orderitem d join counsel e
	where a.dietCode = b.dietCode
	and a.paymentItemCode = c.paymentItemCode
	and a.orderItemCode = d.orderItemCode
	and a.id = e.customer
	and e.counselCode = #{couselCode}
</select>
<update id = "counselUpdate">
	update counsel set answer = #{answer}, adviser = 'counselor'
	where counselCode = #{couselCode}
</update>
</mapper>