<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.wdb3a.CounselMapper">
  <select id="couselListAll" resultType="integer">
  	select count(counselCode) from counsel
  </select>
  <select id="counselList" resultType="Counsel">
  select c.counselCode, i.counselItemName,c.customer,c.counselTitle,c.counselDate,c.adviser
  from counsel c, counselitem i
  where c.counselItemCode=i.counselItemCode order by c.counselCode desc limit #{startRecord},#{recordsPerPage}
  </select>
  
  <insert id="write">
   insert into counsel(counselItemCode, customer, counselTitle, counselContent,counselDate)
   values(#{counselItemCode}, #{customer}, #{counselTitle}, #{counselContent},now())
</insert>
<select id="counselRead" resultType="Counsel">
   select c.counselTitle, c.counselContent,c.customer,c.counselDate,c.adviser,i.counselItemName,c.counselCode, c.answer
	from counsel c,counselitem i
   where c.counselItemCode=i.counselItemCode and c.counselCode=#{counselCode}
</select>
<delete id="delete">
 delete from counsel where counselCode=#{counselCode}
</delete>
<update id="update">
   update counsel set counselTitle=#{counselTitle}, counselContent=#{counselContent}, counselItemCode=#{counselItemCode}
   where counselCode=#{counselCode}
</update>

</mapper>