<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdb3a.DeliverMapper">
	<select id="deliverList" resultType="OrderList">
		select a.orderCode, b.id, c.dietImg, c.dietName, b.address, a.orderItemCode
		from orderlist a join member b join diet c
		where a.id = b.id
		and a.dietCode = c.dietCode
		<include refid="search"></include>
	</select>
	<sql id = "search">
	  	<if test = "searchType != null">
	  		<if test="searchType == 't'.toString()">
	  			and a.orderCode like CONCAT('%',#{keyword},'%')
	  		</if>
	  		<if test="searchType == 'c'.toString()">
	  			and a.id like CONCAT('%',#{keyword},'%')
	  		</if>
	  	</if>
  	</sql>
  	<insert id = "createDeliver">
  		insert into foodminven(inDate, price,inAmount,foodMCode, uint, outAmount,exDate,foodMName )
  		values (#{inDate},#{price},#{inAmount},#{foodMCode},#{uint},#{outAmount},#{exDate},#{foodMName})
  	</insert>
  	<select id = "deliverName" resultType = "com.wdb3a.dacham.bean.Nutritionist">
  		select foodMCode, foodMName
  		from foodmaterial
  	</select>
  	<select id = "showDeliver" resultType = "com.wdb3a.dacham.bean.Deliver">
  		select a.foodMCode, a.foodMImg, b.foodMName, b.inDate, b.price, b.uint
		from foodmaterial a join foodminven b
		where a.foodMCode = b.foodMCode
		<include refid="searchDeliver"></include>
  	</select>
  	<sql id = "searchDeliver">
	  	<if test = "searchType != null">
	  		<if test="searchType == 't'.toString()">
	  			and a.foodMCode like CONCAT('%',#{keyword},'%')
	  		</if>
	  		<if test="searchType == 'c'.toString()">
	  			and b.foodMName like CONCAT('%',#{keyword},'%')
	  		</if>
	  	</if>
  	</sql>
  	<update id = "transportNum">
  		update orderlist set transportNum = #{transportNum}, orderItemCode = 7
  		where orderCode = #{orderCode}
  	</update>
  	<select id = "all" resultType = "OrderList">
  		select a.orderCode, b.id, c.dietImg, c.dietName, b.address, a.orderItemCode
		from orderlist a join member b join diet c
		where a.id = b.id
		and a.dietCode = c.dietCode
  	</select>
</mapper>