<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdb3a.LoginMapper">

<!-- 고객 로그인용 -->
<select id="selectMember" resultType="Member">
	select *
	from member
	where id=#{id}
</select>

<!-- member 테이블의 모든 정보를 가져옴 -->
<select id="select_emp" resultType="Emp">
	select *
	from member
</select>  

<!-- 특정 관리자 정보 가져옴 -->
<select id="selectEmp" resultType="Emp">
select *
from member
where id=#{id}
</select>
<!-- 중복아이디 체크용 -->
<select id="idChecked" resultType="Member">
	select id
	from member
	where id=#{id}
</select>
<!-- 도매상 토큰 삽입 -->
<update id="insertToken">
update member set token=#{token} where id=#{id}
</update>
</mapper>