<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdb3a.NutritionistMapper">
	<select id = "listSearch" resultType = "com.wdb3a.dacham.bean.Nutritionist">	
		select a.sideDName, b.foodGName, c.cookMName , a.sideDCode, a.sideDImg
		from sideDish a join foodGroup b join cookMethod c
		where a.foodGCode = b.foodGCode
		and a.cookMCode = c.cookMCode
		and a.sideDName like CONCAT('%',#{search},'%') 
	</select>
	<select id = "materialSearch" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select *
		from foodmaterial
		where foodMName like CONCAT('%',#{search},'%')
	</select>
	<select id="materialAmount" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select * from foodmaterial
	</select>
	<insert id="createAmount">
		insert into sidedinfo(sideDCode, foodMCode, foodMAmount)
		values ((select MAX(sideDCode) from sidedish),#{foodMCode},#{foodMAmount})
	</insert>
	<insert id = "createSide">
		insert into sidedish(foodGCode, cookMCode, sideDName, recipe, sideDImg)
		values (#{foodGCode},#{cookMCode},#{sideDName},#{recipe},#{sideDImg})
	</insert>
	<select id="openAPI" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select * from foodmaterial
		where foodMName = #{foodMName}
	</select>
	<insert id = "createDiet">
		insert into diet(diseaseCode, wizardCode, dietName, price, dietImg, spDietItem)
		values (#{diseaseCode},#{wizardCode},#{dietName},#{price},#{dietImg},#{spDietItem})
	</insert>
	<select id="choiceDisease" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select * from disease
	</select>
	<insert id = "createDietInfo">
		insert into dietinfo(dietCode, sideDCode)
		values ((select MAX(dietCode) from diet),#{sideDCode})
	</insert>
	<select id="showKcal" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select a.sideDCode,a.foodMCode, a.foodMAmount, sum(b.kcal) as kcal, c.sideDName
		from sidedinfo a join foodmaterial b join sidedish c
		where a.foodMCode = b.foodMCode
		and a.sideDCode = c.sideDCode
		group by a.sideDCode
		having a.sideDCode = #{sideDCode}
	</select>
	<select id = "optionTemplate" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select s.sideDCode,s.sideDName,s.sideDImg
		from sidedish s,(select i.sideDcode
		from diet d, dietInfo i
		where d.dietCode=1 and d.dietCode=i.dietCode) b
		where s.sideDcode = b.sideDCode;
		
	</select>
</mapper>