<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wdb3a.NutritionistMapper">
	<!-- 반찬 목록을 검색합니다. -->
	<select id = "listSearch" resultType = "com.wdb3a.dacham.bean.Nutritionist">	
		select a.sideDName, b.foodGName, c.cookMName , a.sideDCode, a.sideDImg
		from sideDish a join foodGroup b join cookMethod c
		where a.foodGCode = b.foodGCode
		and a.cookMCode = c.cookMCode
		and a.sideDName like CONCAT('%',#{search},'%') 
	</select>
	<!-- 해당 메인페이지에 이달의 메뉴를 조회합니다. -->
	<select id = "thisMonth" resultType = "OrderList">
		select a.orderDate, b.dietName, b.dietImg 
		from orderlist a join diet b
		where a.dietCode = b.dietCode
		and month(a.orderDate) between month(a.orderDate) and (month(a.orderDate)+1)
		group by a.dietCode;
	</select>
	<!-- 반찬 전체를 조회합니다(with 식품군, 조리방법) -->
	<select id = "sideAll" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select a.sideDName, b.foodGName, c.cookMName , a.sideDCode, a.sideDImg
		from sideDish a join foodGroup b join cookMethod c
		where a.foodGCode = b.foodGCode
		and a.cookMCode = c.cookMCode
	</select>
	<select id = "materialSearch" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select *
		from foodmaterial
		where foodMName like CONCAT('%',#{search},'%')
	</select>
	<select id="materialAmount" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select * from foodmaterial
	</select>
	<insert id="createAmount">
		insert into sidedinfo(sideDCode, foodMCode, foodMAmount)
		values ((select MAX(sideDCode) from sidedish),#{foodMCode},#{foodMAmount})
	</insert>
	<insert id = "createSide">
		insert into sidedish(foodGCode, cookMCode, sideDName, recipe, sideDImg)
		values (#{foodGCode},#{cookMCode},#{sideDName},#{recipe},#{sideDImg})
	</insert>
	<select id="openAPI" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select * from foodmaterial
		where foodMName = #{foodMName}
	</select>
	<insert id = "createDiet">
		insert into diet(diseaseCode, wizardCode, dietName, price, dietImg, spDietItem)
		values (#{diseaseCode},#{wizardCode},#{dietName},#{price},#{dietImg},#{spDietItem})
	</insert>
	<select id="choiceDisease" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select * from disease
	</select>
	<insert id = "createDietInfo">
		insert into dietinfo(dietCode, sideDCode)
		values ((select MAX(dietCode) from diet),#{sideDCode})
	</insert>
	<!-- 특정 반찬에 대한 영양 정보 -->
	<select id="showKcal" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select f.foodMName, a.sideDName, sum(f.kcal*a.cu) kcal, f.carbohydrate*a.cu carbohydrate, f.protein*a.cu protein, f.fat*cu fat, f.na*cu na
		from foodmaterial f,(select s.sideDCode, s.sideDImg,s.sideDName,i.foodMAmount/100 as cu,i.foodMCode
		from sidedish s,sidedinfo i where s.sideDCode=i.sideDCode and s.sideDCode=#{sideDCode}) a
		where f.foodMCode=a.foodMCode
		group by a.sideDName;
	</select>
	<select id = "optionTemplate" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select s.sideDCode,s.sideDName,s.sideDImg
		from sidedish s,(select i.sideDcode
		from diet d, dietInfo i
		where d.dietCode=#{diseaseCode} and d.dietCode=i.dietCode) b
		where s.sideDcode = b.sideDCode;
	</select>
	<!-- 	반찬 템플릿의 개수를 구합니다. -->
	<select id = "optionTemplateCount" resultType = "Integer">
		select count(s.sideDCode)
		from sidedish s,(select i.sideDcode
		from diet d, dietInfo i
		where d.dietCode=#{diseaseCode} and d.dietCode=i.dietCode) b
		where s.sideDcode = b.sideDCode;
	</select>
	<!-- 해당 질병에 대한 식단을 조회합니다. -->
	<select id = "diseaseDietOverview" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select a.dietCode, a.dietImg,a.dietName ,a.diseaseCode, b.diseaseName
		from diet a join disease b
		where a.diseaseCode = b.diseaseCode
		and b.diseaseName = #{diseaseName}
	</select>
	<!-- 해당 반찬에 대한 카테고리 검색 -->
	<select id = "categorySearch" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select a.sideDCode,a.sideDName, a.sideDImg, b.cookMCode, b.cookMName,c.foodGName,c.foodGCode
		from sidedish a join cookmethod b join foodgroup c
		where a.cookMCode = b.cookMCode
		and a.foodGCode = c.foodGCode
		and b.cookMName = #{cookMName}
		and c.foodGName = #{foodGName}
	</select>
	<!-- 해당 메인페이지에 주문목록 표시 -->
	<select id = "orderList" resultType = "OrderList">
		select a.orderCode, a.id, b.dietName,a.orderDate ,a.price
		from orderlist a join diet b
		where a.dietCode = b.dietCode
		limit #{startRecord}, #{recordsPerPage}
	</select>
	<!-- 해당 메인페이지 주문목록의 총 개수를 구함 -->
	<select id = "orderListCount" resultType = "Integer">
		select count(a.orderCode)
		from orderlist a join diet b
		where a.dietCode = b.dietCode
	</select>
	<!-- 해당 반찬에 대한 영양정보 -->
	<select id = "allNutri" resultType = "com.wdb3a.dacham.bean.Nutritionist">
		select a.sideDcode,sum(kcal) kcal,sum(carbohydrate) carbohydrate, sum(protein) protein, sum(fat) fat, sum(na) na
		from 
		(select si.sideDCode,(si.foodMAmount/100)*f.kcal kcal,(si.foodMAmount/100)*f.protein protein,(si.foodMAmount/100)*f.carbohydrate carbohydrate,(si.foodMAmount/100)*f.na na,(si.foodMAmount/100)*f.fat fat
		   from sidedinfo si,foodmaterial f
		   where si.foodMCode = f.foodMCode) a
		   group by a.sidedcode
			having a.sidedcode = #{sideDCode};		
	</select>
</mapper>