<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		
		
		<typeAlias alias="Emp" type="com.wdb3a.dacham.bean.Emp" />
		<typeAlias alias="Member" type="com.wdb3a.dacham.bean.Member" />
		<typeAlias alias="OrderList" type="com.wdb3a.dacham.bean.OrderList" />
		<typeAlias alias="Counsel" type="com.wdb3a.dacham.bean.Counsel" />
		<typeAlias alias="FoodMInven" type="com.wdb3a.dacham.bean.FoodMInven"/>
		<typeAlias alias="FoodMAmountRead" type="com.wdb3a.dacham.bean.FoodMAmountRead"/>
		<typeAlias alias="Customer" type="com.wdb3a.dacham.bean.Customer"/>
		<typeAlias alias="Counselor" type="com.wdb3a.dacham.bean.Counselor"/>
		<typeAlias alias="Cook" type="com.wdb3a.dacham.bean.Cook"/>
		<typeAlias alias="ChartList" type="com.wdb3a.dacham.bean.ChartList"/>
		<typeAlias alias="ChartPrice" type="com.wdb3a.dacham.bean.ChartPrice"/>


	</typeAliases>
</configuration>