<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="Emp" type="com.wdb3a.dacham.bean.Emp" />
		<typeAlias alias="Member" type="com.wdb3a.dacham.bean.Member" />
		<typeAlias alias="orderList" type="com.wdb3a.dacham.bean.orderList" />
		<typeAlias alias="Counsel" type="com.wdb3a.dacham.bean.Counsel" />
	</typeAliases>
</configuration>