<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">
<bean id="javaMailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
    <property name="host" value="smtp.naver.com" />
    <property name="port" value="587" />
    <property name="username" value="dudtka4971@naver.com" />
    <property name="password" value="wmfrpa1!" />
	<property name="javaMailProperties">
        <props>
            <prop key="mail.smtp.ssl.trust">smtp.naver.com</prop>
            <prop key="mail.smtp.starttls.enable">true</prop>
            <prop key="mail.smtp.auth">true</prop>
        </props>
    </property>
</bean>
 <bean id="mailService" class="com.wdb3a.dacham.service.AdminMainServiceImpl">
    <property name="javaMailSender" ref="javaMailSender" />
</bean>

</beans>
